{% extends "base.html.twig" %}
{% block title %}Input Id User{% endblock %}
{% block content %}
<form action="{{action}}" method="{{method}}">
    <div>
        <label for="first_name">{{title}}</label>
        <input name="user_id" id="user_id" type="int">
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}